In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.3'

In [3]:
df = pd.read_csv('/home/hammoomm/green_tripdata_2019-09.csv.gz', nrows=100)

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [9]:
print(pd.io.sql.get_schema(df, name='green_trip_data', con=engine))

CREATE TABLE green_trip_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [11]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz', iterator=True, chunksize=10000)

In [12]:
df = next(df_iter)

In [13]:
len(df)

10000

In [14]:
df.head(n=0).to_sql(name='green_trip_data', con=engine, if_exists='replace')

0

In [15]:
%time df.to_sql(name='green_trip_data', con=engine, if_exists='append')

CPU times: user 488 ms, sys: 3.08 ms, total: 491 ms
Wall time: 1.06 s

1000

In [17]:
from time import time

In [ ]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_trip_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk, took %.3f second' % (t_end - t_start))

In [20]:
zone_df = pd.read_csv('taxi+_zone_lookup.csv')

In [23]:
zone_df.to_sql(name='zones', con=engine, if_exists='replace')

265